Source: stsbl-repoconfig
Section: utils
Priority: extra
Maintainer: Stadtteilschule Blankenese <repository@stsbl.de>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: https://it.stsbl.de/documentation/tools/stsbl-repoconfig

Package: stsbl-repoconfig
Architecture: all
Depends: aptitude, bash (>= 4.2), coreutils, dialog, iserv-update, stsbl-keyring, bash-gettext
Description: Stadtteilschule Blankenese: Repository-Konfigurationsprogramm
 Mit diesem auf iservchk basierendem Programm lässt sich das Repository der Stadtteilschule Blankenese auf dem eigenen IServ einrichten und verwalten.
 .
 Das Tool wird über die Rootshell mit dem Befehl 'stsbl-repoconfig' aufgerufen.
 .
 https://it.stsbl.de/wp-content/uploads/2016/09/1-1.png
Tag: role::plugin, status::recommended, suite::iserv:portal, suite::iserv:backup, implemented-in::shell
